@import "bootstrap/dist/css/bootstrap.min.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: green;
}

.content-all{margin-left: auto;margin-right: auto; width: 300px;}
a.button {
  display: block;
  width: 300px;
  height: 50px;
  background: SandyBrown;
  font-family: Arial;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #444;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  
}
a.button:hover {
  background: #f7bf90;
}

.card {
  width: 300px;
  height: 440px;
  border-radius: 15px;
  background: white;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card p {
  font: 150px/440px Arial, serif;
  text-align: center;
}

div.cards-hearts:before {
  content: "♥";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}

div.cards-hearts:after {
  content: "♥";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}

div.cards-diamonds:before {
  content: "♦";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: red;
}

div.cards-diamonds:after {
  content: "♦";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: red;
  transform: rotate(180deg);
}

div.cards-spades:before {
  content: "♠";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}

div.cards-spades:after {
  content: "♠";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}

div.cards-clubs:before {
  content: "♣";
  font-size: 90px;
  position: absolute;
  top: 8px;
  left: 20px;
  color: black;
}

div.cards-clubs:after {
  content: "♣";
  font-size: 90px;
  position: absolute;
  bottom: 8px;
  right: 20px;
  color: black;
  transform: rotate(180deg);
}

